body {
  font-family: Arial, sans-serif;
  background-color: #ADEFD1FF;
  background-image: url(../img/main-bg.jpg);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  width: 50%;
  background-color: white;
  margin: 50px auto 0 auto;
  border-radius: 5px;
  padding: 10px;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  text-align: center;
}

ul {
  width: 300px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

ul li {
  list-style: none;
  margin-bottom: 20px;
  font-family: fantasy;
  font-weight: 500;
  font-size: 18px;
}

li a {
  text-decoration: none;
  color: black;
  border: 2px dashed tomato;
  padding: 20px;
  display: block;

}


a:hover {
  background-color: tomato;
  border: 2px solid white;
  color: white;
  transition: 1s;
}